<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tentang - Zahran Fardiaz</title>
    <link rel="stylesheet" href="static/css/style_about.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">Tentang</a></li>
                <li><a href="/contact">Kontak</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Tentang Saya</h1>
        <p>Nama saya Zahran Muhammad Syahbana Fardiaz, lahir pada 22 November 2006 di Tasikmalaya, Jawa Barat. Saya adalah mahasiswa Program Studi Sarjana Teknik Elektro di Universitas Padjadjaran. Sejak kecil, saya memiliki ketertarikan yang tinggi terhadap teknologi dan sains, yang memotivasi saya untuk berkontribusi di bidang tersebut. Selain itu, saya juga tertarik pada desain dan memiliki pengalaman dalam bidang ini sejak SMA. Ketertarikan ini berlanjut di dunia perkuliahan, di mana saya berkontribusi sebagai staf media informasi di Himpunan Mahasiswa Teknik Elektro Universitas Padjadjaran.</p>
    </section>
</body>
</html>