<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontak - Zahran Fardiaz</title>
    <link rel="stylesheet" href="static/css/style_contact.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">Tentang</a></li>
                <li><a href="/contact">Kontak</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Kontak</h1>
        <p>Email: zahran24001@mail.unpad.ac.id<br>
        No. Telepon: 085837696787<br>
        Linkedin: <a href="www.linkedin.com/in/zahran-fardiaz/">www.linkedin.com/in/zahran-fardiaz/</a></p>
    </section>
</body>
</html>