<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zahran Fardiaz</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">Tentang</a></li>
                <li><a href="/contact">Kontak</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Halo, saya Zahran</h1>
        <p>Seorang mahasiswa Program Studi Sarjana Teknik Elektro semester 2 di Universitas Padjadjaran, mempunyai ketertarikan pada bidang desain. Saat ini berkontribusi di Himpunan
        Mahasiswa Teknik Elektro Universitas Padjadjaran sebagai staf Departemen Media Informasi.</p>
    </section>
</body>
</html>